@import "./config";

.navbar{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem $container_size;
  background-color: rgba($darkgrey, .7);
  // background-color: transparent;
  display: flex;
  justify-content: space-between;

  &.solid{
    background-color: #111;
  }

  .logo{
    margin-left: 10px;
  }

  .toggle_darkmode{
    all: unset;
    font-size: .8rem;
    padding: 0 1rem;
    border-radius: .25rem;
    background-color: $white;
    color: #000;
    cursor: pointer;
  }
}