@import "./styles/config";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $ff;
  transition: .3s;
}

// possible bg radient end : #9198e5, #000
body{
  background: radial-gradient($bgc, #9198e5);
  color: $white;
  transition: .3s;

  &.dark{
    background: radial-gradient($bgc, #000);
  }

}

@import "./styles/nav";
@import "./styles/banner";
@import "./styles/films";